.carousel-inner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 10px solid #555;
}
.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.lead {
    font-size: 50px;
}
h3 {
  font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 0px 10px;
  border-radius: 5px;
}
p {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 5px;
}

h2 {
    font-size: 60px;
    position: relative;
    text-align: center;
}